@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('https://images.ctfassets.net/kftzwdyauwt9/3ND00DMJCGocsrnNtx1E15/4037d25fe74733aaf604061293faf647/Alignment_Blog_5_29.png?w=3840&q=90&fm=webp');
  font-family: Arial, Helvetica, sans-serif;
}


.phone-container {
  width: 375px;
  height: 667px;
  background-color: white;
  border: 16px solid black;
  border-radius: 36px;
  padding: 0; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  overflow: hidden;
}

.phone-container-banner {
  width: 100%;
  background-color: #00539CFF;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.phone-container-content {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.phone-container-content h1 {
  color: #2c3e50;
}

.phone-container-content h2 {
  color: #2c3e50;
  text-align: center;
}

.phone-container-content p {
  color: #34495e;
  font-size: 18px;
}

.phone-container-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00539CFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.phone-container-content button:hover {
  background-color: #0275d8;
}

.phone-container-content ul {
  list-style: none;
  padding: 0;
}

.phone-container-content li {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #dfe3e8;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.phone-container-content li:hover {
  background-color: #f1f1f1;
}

.phone-container-content input[type="file"] {
  margin: 20px 0;
}

.phone-container-content input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dfe3e8;
  border-radius: 5px;
}

/* Long input for description with text wrapping and enough height for content */
.phone-container-content textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dfe3e8;
  border-radius: 5px;
  width: 100%;
  height: 100px;
}