@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


.account-info-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f9fc;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.account-info-container h1 {
  color: #2c3e50;
}

.account-info-container p {
  color: #34495e;
  font-size: 18px;
}

.account-info-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00539CFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-info-container button:hover {
  background-color: #0275d8;
}





.vehicle-selection-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vehicle-selection-container h2 {
  color: #2c3e50;
  text-align: center;
}

.vehicle-selection-container ul {
  list-style: none;
  padding: 0;
}

.vehicle-selection-container li {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #dfe3e8;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.vehicle-selection-container li:hover {
  background-color: #f1f1f1;
}

.vehicle-selection-container li p {
  margin: 5px 0;
  color: #34495e;
}





.photo-upload-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo-upload-container h2 {
  color: #2c3e50;
}

.photo-upload-container input[type="file"] {
  margin: 20px 0;
}

.photo-upload-container button {
  padding: 10px 20px;
  background-color: #00539CFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.photo-upload-container button:hover {
  background-color: #0275d8;
}




.report-page-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f9fc;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.report-page-container h2 {
  color: #2c3e50;
  text-align: center;
}

.report-page-container p {
  color: #34495e;
  font-size: 18px;
  margin: 10px 0;
}

.report-page-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dfe3e8;
  border-radius: 5px;
}

/* Long input for description with text wrapping and enough height for content */
.report-page-container textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dfe3e8;
  border-radius: 5px;
  width: 100%;
  height: 100px;
}

.report-page-container button {
  padding: 10px 20px;
  background-color: #00539CFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
